$font-sans: 'Poppins', sans-serif;

// Typography
$font-primary: 'Poppins', sans-serif;

// Colors
$background_color_header_footer: #5ecdf7;
$font-color: #ddebec;
$font-color-footer-header: rgb(49, 164, 172);
