.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2em;

  p {
    text-align: justify;
    width: 70%;
  }
}
.flex-wrapper {
  display: flex;

  align-content: center;
  align-items: center;
}
