.flex-container.icons {
  display: flex;
  justify-content: space-evenly;
}
.skills-icons {
  width: 7%;
  height: 1%;
  padding: 2px;
  margin: 2px;
  align-self: flex-end;

  &.css {
    width: 5.5%;
  }
  &.mongo {
    min-width: 10%;
  }
}
@media screen and (max-width: 687px) {
  section#skills {
    display: none;
  }
}
