@import './../styles/variables.scss';

.footer {
  // background-color: #b39ddc;
  color: $header_footer;
  left: 0;
  bottom: 0;
  right: 0;
  height: 4em;

  // background-color: $background_color_header_footer;
  transition: 0.2s;
  position: fixed;

  p {
    padding: 0.5em 0.5em;
    text-align: center;
    height: 1em;
  }
}
