@import './../styles/variables.scss';

.footer {
  color: $font-color-footer-header;
  padding: 5px 8px;
  display: flex;
  justify-content: space-around;
  background-color: #ddebec;
  width: 100%;

  p {
    padding: 0.5em 0.5em;
    text-align: center;
    height: 1em;
  }
}
