@import './../styles/variables.scss';

.header {
  top: 0;
  left: 0;
  width: 114px;
  height: 55em;
  position: fixed;

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  nav a {
    padding: 1em 0.5em 1em 0.5em;
    margin: 4em 0.6em 4em 0.6em;
    color: $font-color;
  }
  a:hover {
    background-color: #cbc7c734;
    opacity: 1;
    overflow: hidden;
  }
}
