*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  max-width: 80em;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 1em;

  font-family: -apple-system, BlinkMacSystemFont, 'proxima-nova', Montserrat,
    'Open-Sans', Roboto, Lato, Adelle;
  line-height: 1.5;
  background-color: #ffffff;
  color: #b39ddc;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #fed8b2;
}

.generic {
  padding: 1em;
  margin: 1em;
}
