*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  max-width: 80em;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 1em;

  font-family: -apple-system, BlinkMacSystemFont, 'proxima-nova', Montserrat,
    'Open-Sans', Roboto, Lato, Adelle;
  line-height: 1.5;
  background-color: #323232;
  color: #fed8b2;
}

a {
  text-decoration: none;
  color: #fed8b2;
}

.generic {
  padding-left: 8em;
  margin-top: 12em;
}
